.chat-main
  .main-header
    .main-header__left-box
      .main-header__left-box__current-group
        chat
      .main-header__left-box__member-list
        aaa
    = link_to "Edit","#",class:"main-header__edit-btn"



  .messages

  .form
    .form__mask
      %input.form__input
        .image
          = icon('fas', 'image', class: 'icon')
      .form__submit
        = link_to "Send","#", class: 'form__submit'