.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        reika
      .side-header__box__menu
        .side-header__box__menu__new-group
          = link_to "#",class:"icon" do
            = icon('fas', 'pen')
        .side-header__box__menu__edit-user
          = link_to "#", class: 'icon' do
            = icon('fas', 'cog')
  .groups
    .group
      .group__name
        chat
      .group__latest-messages
        aaa